<!DOCTYPE html>
<html>
<head>
    <title>todo</title>
</head>
<body>

    <h1>To-do</h1>
    <% for (var i = 0; i < todo.length; i++) { %>
    <p> <a href="remove/<%= i %>">X</a> <%= todo[i] %></p>
    <% } %>
    <form action="add" method="post">
        <input type="text" name="todo" />
        <input type="submit" value="envoyer"/>
    </form>
</body>
</html>
